fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        fail_fast: true

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=.yamllint.yaml]
        fail_fast: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        args: [--fix]
        fail_fast: true
      - id: ruff-format
        fail_fast: true

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [types-requests]
        args: [--ignore-missing-imports]
        fail_fast: true

  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: uv run bandit
        language: system
        args: [-r, src/, --severity-level, medium]
        pass_filenames: false
        fail_fast: true

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: uv run python -m pytest -p xdist -q -n auto
        language: system
        pass_filenames: false
        always_run: true
        fail_fast: true
